In [2]:
# 1. Import libraries
import pandas as pd
import numpy as np

In [3]:
# 2. Load the dataset
df = pd.read_csv("insurance.csv")  # adjust path if needed

# 3. Basic info
print("Shape:", df.shape)
df.head()

Shape: (1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
# Check for null values
df.isnull().sum()

# Remove duplicates
df.drop_duplicates(inplace=True)

# Convert date columns (if any)
# Check if the column exists before trying to convert it
if 'date_of_service' in df.columns:
    df['date_of_service'] = pd.to_datetime(df['date_of_service'], errors='coerce')
# Alternatively, you can replace with the actual column name from your DataFrame
# For example: df['actual_date_column'] = pd.to_datetime(df['actual_date_column'], errors='coerce')

# Normalize column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [9]:
# Summary stats
df.describe()

# Check what columns are actually available in the dataframe
print("Available columns:", df.columns.tolist())

# Top 10 procedures by count - using a column that actually exists
# Replace 'procedure_code' with the actual column name from your dataframe
# For example, if your column is called 'proc_code' instead:
# df['proc_code'].value_counts().head(10)

# Total cost per provider
# First check if these columns exist in your dataframe
if 'provider_name' in df.columns and 'billed_amount' in df.columns:
    # If they exist, proceed with the groupby operation
    df.groupby('provider_name')['billed_amount'].sum().sort_values(ascending=False).head(10)
else:
    # If they don't exist, print a message and suggest checking column names
    print("Column names 'provider_name' or 'billed_amount' not found.")
    print("Please check the actual column names in your dataframe using df.columns")
    # You might need to use different column names based on what's available in your dataframe
    # For example: df.groupby('provider_id')['amount'].sum().sort_values(ascending=False).head(10)

Available columns: ['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']
Column names 'provider_name' or 'billed_amount' not found.
Please check the actual column names in your dataframe using df.columns